theme = "black"

[editor]
line-number = "relative"
mouse = true
cursorline = true
color-modes = true

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false

[editor.lsp]
display-messages = true
display-inlay-hints = true

[editor.indent-guides]
render = true

[keys.normal]
j = "move_char_left"
k = "move_line_down"
l = "move_line_up"
";" = "move_char_right"
C-q = ":write-quit-all!"

[keys.select]
j = "extend_char_left"
k = "extend_line_down"
l = "extend_line_up"
";" = "extend_char_right"
C-q = ":write-quit-all!"

[keys.insert]
C-q = ":write-quit-all!"

[editor.soft-wrap]
enable = true

[editor.auto-save]
focus-lost = true
after-delay.enable = true
after-delay.timeout = 300
